atlassian-ide-plugin.xml
target
.idea
.vscode
.classpath
.project
.settings
*.iml
*.ipr
*.iws
bin
.vlt
.DS_Store
.vlt-sync-config.properties
.vlt-sync.log
.repo
package-lock.json



# Front-End Ignores
stats.html
npm-debug.log*
node_modules
node
app/export/*/react
app/export/*/theme

# Jest test coverage files
coverage

# Sonart Cube task reports
.scannerwork

# Built JS and CSS files
build/
dist
*.code-workspace

.history
